In [2]:
f = open("./team.txt", 'r', encoding='UTF8')
line = f.read()

In [382]:
list_full = list(line.split('<'))

SyntaxError: invalid syntax (<ipython-input-382-619293ca200b>, line 2)

In [30]:
import time
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
import pandas as pd


list_full = []
driver = webdriver.Firefox()
df = pd.DataFrame(columns=['team', 'cp1','cp2','cp3','cp4','cp5','pl1','pl2','pl3','pl4','pl5','score','date','stage','title'])



for l in range(50,61):
    driver.get('http://lol.inven.co.kr/dataninfo/match/teamList.php?pg=' + str(l));   
    res = driver.page_source
    soup = BeautifulSoup(res, 'html.parser')
    title = soup.find(id='lolDbMatchTeamList')

    list_page = []
    for j in title:
        list_page.append(str(j))
    match_list = []
    for k in list_page:
        if 'listFrame' in k:
            match_list.append(k.split('listFrame')[1].split('id="')[1].split('>')[0].split('"')[0])

    time.sleep(2)				
    for l in match_list:
        search_box = driver.find_element_by_xpath('//*[@id="{}"]/div[5]/a'.format(l))  
        search_box.send_keys('\n')		
        search_box.click()			


    res2 = driver.page_source
    soup2 = BeautifulSoup(res2, 'html.parser')
    title2 = soup2.find(id='lolDbMatchTeamList')

    
    for m in range(0,25):
        list_left = []
        list_right = []

        lTeam = str(soup2.find_all(class_='lTeam')[m]).split('<') #0부터 24까지
        for i in lTeam:
            if 'teamname' in i:
                list_right.append(i.split('>')[1])


        wTeam = str(soup2.find_all(class_='wTeam')[m]).split('<')
        for i in wTeam:
            if 'teamname' in i:
                list_left.append(i.split('>')[1])


        left = str(soup2.find_all(class_='left')[m]).split('<')
        for i in left:
            if 'champicon' in i:
                list_left.append(i.split('(')[2].split(')')[0].split('\'')[1])
        for i in left:
            if 'playername color1' in i:
                list_left.append(i.split('>')[1])

        right = str(soup2.find_all(class_='right')[m]).split('<')
        for i in right:
            if 'champicon' in i:
                list_right.append(i.split('(')[2].split(')')[0].split('\'')[1])
        for i in right:
            if 'playername color2' in i:
                list_right.append(i.split('>')[1])
        for i in lTeam:
            if 'color2 tx5' in i:
                list_right.append(i.split('>')[1])

        for i in wTeam:
            if 'color1 tx5' in i:
                list_left.append(i.split('>')[1])

        listTop = str(soup2.find_all(class_='listTop')[m]).split('<')
        for i in listTop:
            if 'title' in i:
                list_left.append(i.split('>')[1])
                list_right.append(i.split('>')[1])
            if 'date' in i:
                list_left.append(i.split('>')[1])
                list_right.append(i.split('>')[1])
            if 'stage' in i:
                list_left.append(i.split('>')[1])
                list_right.append(i.split('>')[1])

        a_series1 = pd.Series(list_right, index = df.columns)
        a_series2 = pd.Series(list_left, index = df.columns)
        df = df.append(a_series1, ignore_index=True)
        df = df.append(a_series2, ignore_index=True)

    list_full.append(str(title2))

ValueError: Length of passed values is 5, index implies 15.

In [34]:
df.to_csv("./result3.csv",index=False, encoding='utf-8-sig')

In [31]:
list_right = ['RNG','블라디미르','스카너','이렐리아','케이틀린','브라움','RNG Letme','RNG Karsa','RNG Xiaohu','RNG Uzi','RNG Ming', 'W', '2018.05.11', '2018 MSI', 'Group Stage 1일차 ']

In [32]:
a_series1 = pd.Series(list_right, index = df.columns)
a_series2 = pd.Series(list_left, index = df.columns)
df = df.append(a_series1, ignore_index=True)
df = df.append(a_series2, ignore_index=True)

In [27]:
i

'/div>'

In [33]:
#import pandas as pd
#df = pd.DataFrame(columns=['team', 'cp1','cp2','cp3','cp4','cp5','pl1','pl2','pl3','pl4','pl5','score','date','stage','title'])
for m in range(7,25):
    list_left = []
    list_right = []

    lTeam = str(soup2.find_all(class_='lTeam')[m]).split('<') #0부터 24까지
    for i in lTeam:
        if 'teamname' in i:
            list_right.append(i.split('>')[1])


    wTeam = str(soup2.find_all(class_='wTeam')[m]).split('<')
    for i in wTeam:
        if 'teamname' in i:
            list_left.append(i.split('>')[1])


    left = str(soup2.find_all(class_='left')[m]).split('<')
    for i in left:
        if 'champicon' in i:
            list_left.append(i.split('(')[2].split(')')[0].split('\'')[1])
    for i in left:
        if 'playername color1' in i:
            list_left.append(i.split('>')[1])

    right = str(soup2.find_all(class_='right')[m]).split('<')
    for i in right:
         if 'champicon' in i:
             list_right.append(i.split('(')[2].split(')')[0].split('\'')[1])
    for i in right:
         if 'playername color2' in i:
             list_right.append(i.split('>')[1])
    for i in lTeam:
         if 'color2 tx5' in i:
             list_right.append(i.split('>')[1])

    for i in wTeam:
         if 'color1 tx5' in i:
             list_left.append(i.split('>')[1])

    listTop = str(soup2.find_all(class_='listTop')[m]).split('<')
    for i in listTop:
         if 'title' in i:
             list_left.append(i.split('>')[1])
             list_right.append(i.split('>')[1])
         if 'date' in i:
             list_left.append(i.split('>')[1])
             list_right.append(i.split('>')[1])
         if 'stage' in i:
             list_left.append(i.split('>')[1])
             list_right.append(i.split('>')[1])

    a_series1 = pd.Series(list_right, index = df.columns)
    a_series2 = pd.Series(list_left, index = df.columns)
    df = df.append(a_series1, ignore_index=True)
    df = df.append(a_series2, ignore_index=True)

In [14]:
df.tail()

,team,cp1,cp2,cp3,cp4,cp5,pl1,pl2,pl3,pl4,pl5,score,date,stage,title
2445,SKT T1,오른,킨드레드,스웨인,바루스,탐 켄치,SKT T1 Thal,SKT T1 Blank,SKT T1 Pirean,SKT T1 Bang,SKT T1 Effort,L,2018.08.04,2018 LCK 섬머 정규 시즌,39일차 1경기 1세트
2446,kt 롤스터,나르,세주아니,아지르,바루스,모르가나,KT Smeb,KT Score,KT Ucal,KT Deft,KT Mata,W,2018.08.02,2018 LCK 섬머 정규 시즌,38일차 2경기 3세트
2447,진에어 그린윙스,갱플랭크,스카너,오리아나,이즈리얼,쉔,Jin Air SoHwan,Jin Air UmTi,Jin Air Grace,Jin Air Teddy,Jin Air Nova,L,2018.08.02,2018 LCK 섬머 정규 시즌,38일차 2경기 3세트
2448,진에어 그린윙스,블라디미르,트런들,오리아나,자야,알리스타,Jin Air SoHwan,Jin Air UmTi,Jin Air Grace,Jin Air Teddy,Jin Air Nova,L,2018.08.02,2018 LCK 섬머 정규 시즌,38일차 2경기 2세트
2449,kt 롤스터,케넨,그라가스,라이즈,트리스타나,라칸,KT Smeb,KT Score,KT Ucal,KT Deft,KT Mata,W,2018.08.02,2018 LCK 섬머 정규 시즌,38일차 2경기 2세트

In [396]:
df

Empty DataFrame
Columns: [team, cp1, cp2, cp3, cp4, cp5, pl1, pl2, pl3, pl4, pl5, score, date, stage, title]
Index: []

In [398]:
list_right

['Gen.G eSports',
 '클레드',
 '다이애나',
 '오리아나',
 '미스 포츈',
 '모르가나',
 'T1 Canna',
 'T1 Cuzz',
 'T1 Faker',
 'T1 Teddy',
 'T1 Effort',
 'W',
 '2020.02.16',
 '2020 LoL 챔피언스 코리아 스프링 정규 시즌',
 '10일차 2경기 2세트']

,team,cp1,cp2,cp3,cp4,cp5,pl1,pl2,pl3,pl4,pl5,score,date,stage,title
0,Gen.G eSports,클레드,다이애나,오리아나,미스 포츈,모르가나,T1 Canna,T1 Cuzz,T1 Faker,T1 Teddy,T1 Effort,W,2020.02.16,2020 LoL 챔피언스 코리아 스프링 정규 시즌,10일차 2경기 2세트